body {
    background: #F3F5F9;
}

.nav-links .about {
    position: relative;
    color: #0000FF;
}

.nav-links .about::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 50%;
    width: 120%;
    height: 2px;
    transform: translateX(-50%);
    background: #0000FF;
    transition: ease-in 0.3s;
}

.about-us {
    background: #F3F5F9;
    text-align: center;
    padding-top: 8rem;
}

.about-us h1 {
    margin-bottom: 1rem;
    color: #0000FF;
    font-weight: 800;
    font-size: 30px;
    text-transform: uppercase;
}

.about-us img {
    width: 100%;
}

.about-us p {
    margin: 1.5rem 0;
    color: #01001F;
    font-weight: 600;
    font-size: 20px;
}

@media (max-width: 1000px) {
    .about-us {
        padding-top: 7rem;
    }
}

@media (max-width: 600px) {
    .about-us h1 {
        font-size: 19px;
        font-weight: 800;
    }

    .about-us p {
        font-size: 16px;
        font-weight: 400;
        line-height: 32px;
    }
}
