body {
    background: #F3F5F9;
}

.faqs h1 {
    color: #0000FF;
    font-size: 30px;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
    max-width: 500px;
    margin: 0 auto;
}

.card {
    color: #333;
    margin: 0rem auto;
    width: 90%;
    max-width: 1200px;
    min-height: 30rem;
    border-radius: 2rem;
}

.acc-container {
    padding: 4rem 2rem;
}

.acc-btn {
    width: 100%;
    padding: 1.6rem 2rem;
    font-size: 1.6rem;
    cursor: pointer;
    background: inherit;
    color: #3B3B53;
    font-size: 20px;
    font-weight: 600;
    border: none;
    outline: none;
    text-align: left;
    transition: all 0.5s linear;
}

.acc-btn:after {
    content: "\003E";
    color: #0000FF;
    float: right;
    transition: all 0.3s linear;
}

.acc-content p {
    margin-left: -1rem;
    font-weight: 400;
    font-size: 18px;
    padding: 1rem 0;
}

.acc-btn.is-open:after {
    transform: rotate(90deg);
}

.acc-btn:hover, .acc-btn.is-open {
    color: #0000FF;
}

.acc-content {
    max-height: 0;
    color: rgba(0,0,0,0.75);
    font-size: 1.5rem;
    margin: 0 2rem;
    padding-left: 1rem;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
    /* border-bottom: 2px solid #0000FF; */
}

.acc-content ol {
    margin-left: 1rem;
}

.acc-content ol li {
    margin: 1rem 0;
    font-weight: 400;
    font-size: 18px;
}

.public-faqs h1 {
    color: #0000FF;
    font-size: 30px;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
    text-align: center;
}