body {
    background: #F3F5F9;
}

.products h1 {
    text-align: center;
    margin-bottom: 1rem;
    color: #0000FF;
    font-weight: 800;
    font-size: 30px;
    text-transform: uppercase;
}

.triangle {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    place-items: center;
    margin-top: 3rem;
}

.triangle-img {
    width: 100%;
}

.triangle-img img {
    width: 100%;
}

.triangle-text {
    width: 100%;
}

.triangle-text img {
    width: 80%;
}

.products p {
    color: #767586;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    margin-top: 1rem;
}

.products h5 {
    color: #3B3B53;
    font-weight: 600;
    font-size: 20px;
    line-height: 40px;
}